.header-bg {
  background-image: url("../../images/bg-pattern-intro-desktop.svg"), linear-gradient(135deg, rgba(255, 143, 113, 1) 0%, rgba(255, 62, 85, 1) 100%);
  background-position: center left;
  border-bottom-left-radius: 100px;
}

.header-container {
  max-width: 1440px;
  display: grid;
  margin: 0 auto;
  padding: 20px;
  gap: 132px;

}



.left-list {
  
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  
 
}

.nav-list {
  
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  

}

.nav-list a::after{
  transition: .3s;

}
.list-principal{
  position: relative;
}
.list-principal a::after{
  content: "";
  max-width: 0%;
  height: 2px;
  background-color: var(--cor-0);
  display: block;
  position: relative;
}

.nav-list a:hover{
  color: var(--cor-0);
  
}

.nav-list a:hover::after{

max-width: 100%;
}

.list-principal{
  cursor: pointer;
  display: flex;
  gap: 30px;
}
.list-secundaria{
  display: flex;
  gap: 20px;
  align-items: center;
 
}

.header-content {
  place-self: center;
  padding-bottom: 155px;
  text-align: center;
}

.header-content>p {
  margin-bottom: 44px;
}




/* Links inside the dropdown */
.menu-hamburguer {
  display: none;
  padding: 16px 0px;
  cursor: pointer;
}


/* Dropdown Menu */
#connect-dropdown,#company-dropdown,#product-dropdown{
  
  width: 140px;
  padding: 20px;
  position: absolute;
  background-color: var(--cor-0);
  border-radius: 4px;
  top: 60px;
}
.dropdown{
  display: none;
  }

#connect-dropdown a,#company-dropdown a,#product-dropdown a{
  padding: 8px 12px;
  width: calc(100% - 40px);
  color: var(--cor-p3);
  font-weight: 400;
}

#connect-dropdown a:hover,#company-dropdown a:hover,#product-dropdown a:hover{
  
  font-weight: 700;
  color: var(--cor-p3);
}

.show {
  display: block !important;
}

.list-principal li i{

 
}

@media (max-width:1000px) {

  .nav {
    display: none;
    position: absolute;
    top: 70px;
  }

  .nav-list a:hover{
    color: inherit;
    
  }

  .right-list {
    display: none;
  }

  .menu-hamburguer {
    display: block;
    place-self: flex-end;
  }

 
  .header {
    padding: 20px;
  }

  .nav-list,.list-secundaria,.list-principal{
    flex-direction: column;
    background-color: var(--cor-0);
    color: var(--cor-p3);
    border-radius: 5px;
    padding: 20px;
    

  }
 
  .nav{
    width: calc(100% - 40px);
    z-index: 1222;
  }

 .nav-list{
  gap: 0px;
 }

 #connect-dropdown,#company-dropdown,#product-dropdown{
  position: static;
  background-color: #f2f2f2;
  font-size: 1;
  top: 50px;
  }

  .list-principal{
   text-align: center;
  }

  .nav-list a:hover::after{
  max-width: 0;
  }

}

@media (max-width:600px) {

  .header {
    padding: 20px;
  }

}

@media (max-width:700px) {

  .link-item a:first-child {
    margin-right: 0px;
    margin-bottom: 20px;
  }

}