.info-container-bg {
  overflow: hidden;
}

.main-info-container {
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto 140px;
  align-items: center;
  position: relative;
  gap: 0 200px;
  padding: 20px;

}

.main-info-container h2 {
  text-align: center;
  margin-top: 100px;
}

.info-general {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.text p {
  max-width: 50ch;
}

#ilustrator-bg {
  position: absolute;
  top: -640px;
  right: -460px;
  max-width: 1200px;
}

.picture-1 {
  position: relative;
}

@media(max-width:1200px) {

  .info-general {
    grid-template-columns: 1fr;
    margin-bottom: 150px;
    align-content: center;
  }

  .text {
    text-align: center;
  }

  .text p {
    max-width: initial;
  }

  #ilustrator-bg {
    width: 100%;
    position: static;
    display: block;
    max-width: 100%;
}

  .picture-1 {
    grid-row: 2;
    place-self: center;
    max-width: 50%;
  }

  .info-container-1 h2 {
    order: 0;
  }

}

@media (max-width:800px) {

  .info-general {
    margin-bottom: 100px;
  }

}

@media (max-width:600px) {

  .main-info-container h2 {
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .main-info-container {
    margin-bottom: 80px;
  }

  .info-general {
    margin-bottom: 50px;
  }

  .picture-1 {
    max-width: calc(100% - 40px);
  }

}